.auth {
  height: 100vh;
  @include center-items;
  &__title {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__error {
    color: #ff0000;
    margin-top: 5px;
  }
  &__btn {
    margin-top: 15px;
    background: linear-gradient(
      90deg,
      rgba(110, 44, 255, 1) 0%,
      rgba(0, 218, 255, 1) 100%
    );
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 16px 0;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  &__create {
    text-align: center;
    margin-top: 10px;
  }
  &__account {
    text-decoration: none;
    color: #fff;
  }
}
