.button {
  padding: 8px 12px;
  font-size: 15px;
  color: #fff;
  background: #0015d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transition: all 1s;
    box-shadow:0 0px 20px  rgba(94, 94, 94, 0.667);
  }
}
