.header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  &__title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }
  &__buttons-group {
    display: flex;
    justify-content: space-between;
    width: 180px;
  }
}
